<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Root.master.cs" Inherits="AspNetWebFormsDataFederation.RootMaster" %>

<%-- DXCOMMENT: Page Root.master is a master page that contains the root layout (it includes Header, Cental Area, and Footer) --%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8" />
    <title>Dashboard Web Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="Content/Site.css" />
</head>
<body runat="server" id="Body">
    <form id="form1" runat="server">
    <dx:ASPxSplitter ID="ASPxSplitter1" runat="server" AllowResize="False" Orientation="Vertical"
        FullscreenMode="True" SeparatorVisible="False" Height="100%" Width="100%" EnableHierarchyRecreation="false">
        <Styles>
            <Pane>
                <Paddings Padding="0px" />
                <Border BorderWidth="0px" />
            </Pane>
        </Styles>
        <Panes>
            <dx:SplitterPane Name="Content" MinSize="375px">
                <PaneStyle CssClass="mainContentPane"></PaneStyle>
                <ContentCollection>
                    <dx:SplitterContentControl ID="SplitterContentControl3" runat="server">
                        <asp:ContentPlaceHolder ID="Content" runat="server">
                        </asp:ContentPlaceHolder>
                    </dx:SplitterContentControl>
                </ContentCollection>
                <PaneStyle BackColor="white">
                    <BorderBottom BorderWidth="1px" />
                </PaneStyle>
            </dx:SplitterPane>
        </Panes>
    </dx:ASPxSplitter>
    </form>
</body>
</html>